body{
     background: repeating-linear-gradient(
      60deg,
      rgb(249, 80, 255) 0px,
      rgb(198, 71, 202) 40px,
      rgba(255, 108, 108, 0.651) 40px,
      rgb(255, 255, 255) 80px
    )
}
body#home #home-link, body#history #history-link, body#gallery #gallery-link,body#team #team-link,body#table #table-link{
     color: red
     }
 @media screen and (max-width: 800px) {
 .column {
     -ms-flex: 50%;
     flex: 50%;
     max-width: 50%;
          }
        }
@media screen and (max-width: 600px) {
 .column {
     -ms-flex: 100%;
     flex: 100%;
     max-width: 100%;
  }
 }
@media screen and (max-width: 800px) {
 body {
     background-color: rgb(255, 75, 231);
 }
}
@media screen and (min-width: 810px) {
 body {
     background-color: rgb(82, 0, 75);
 }
}
h1 {
     text-shadow: 2px 2px red;
   }
   .nav-bar {
     color:rgb(255, 255, 255);
     display: flex;   
     justify-content: space-evenly;
     align-items: center;
     margin:0%;
     padding:0%;
     background-color: rgb(238, 241, 10);
     border-radius: 4px;
     position: fixed;
     top: 0;
     width: 100%;
 }
 .nav-bar :hover{
     background-color: rgb(148, 170, 25);
 }
 :root{
     --blue: #2391ff;
     --grey: #888888;
     --yellow: #ffe70a;   
 }
 a:hover{
     color: var(--blue);
 }
 a:link {
     color:var(--grey);
   }
a:visited {
     color: var(--purple);
   }
a:hover {
     color: hotpink;
   }
a:active {
     color: blue;
   }
img:hover{
     transform: scale(1.5);
} 
a :hover{
     transform:scale(1.1);
}
 /* Home page */
#logo{
     position:absolute;
     top: 20px;
     right: 20px;
     border:5px solid rgb(0, 0, 0);
     border-radius: 50px;
     width: 230px;
     box-shadow: 10px 10px ;
}
.frame-window{
     position:absolute;
     top: 300px;
     right: 20px;
     border:5px solid rgb(0, 0, 0);
     width: 230px;
}
.frame-title{
     position: absolute;
     bottom: 330px;
     right: 20px;
     border:5px solid rgb(0, 0, 0)
}
   /* Home page */
   /* History page */
  table, th, td {
     border: 1px solid black;
     border-radius: 10px;
}
  /* History page*/
  /* Gallery page */
.row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding: 0 4px;
}
.column {
     -ms-flex: 25%; 
     flex: 25%;
     max-width: 25%;
     padding: 0 4px;
}
   
.column img {
     margin-top: 8px;
     vertical-align: middle;
     width: 100%;
}
   /* Gallery page */
   /* Table page */
  .PicsCont {
     display: flex;
     flex-wrap: wrap;
}
.Pics {
     flex: 20%; 
     padding: 5px;
     height: 200px;     
   }
#table a{
     color:black
}
   /* Table page*/
   /* Team 10 page */
.arrow-left{
     width: 100%;
     margin:0 auto;
     text-align: center;
}
.arrow-left::after{
     content: "";
     width: 40px;
     height: 40px;
     position: absolute;
     margin:auto;
     top: 150px;
     right: 0;
     bottom: 0;
     left: 0;
     border-right: 4px solid #FFF;
     border-bottom: 4px solid #FFF;
     -webkit-transform: rotate(90deg);
     transform: rotate(135deg);
     -webkit-animation: 3s arrow infinite ease;
     animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow{
     0%, 100% {
     right:50px;
     }
     50%{
     right:80px;
     }
}
@keyframes arrow{
     0%, 100% {
     right:50px;
  }
     50%{
       right:80px;
 }
}
 /* Team 10 page*/