body{
     background: repeating-linear-gradient(
      60deg,
      rgb(249, 80, 255) 0px,
      rgb(198, 71, 202) 40px,
      rgba(255, 108, 108, 0.651) 40px,
      rgb(255, 255, 255) 80px
    )
}
h1 {
     text-shadow: 2px 2px red;
   }
   div{
     text-shadow: -1px 0 black, 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px black;
   }
   .nav-bar {
     color:rgb(255, 255, 255);
     display: flex;   
     justify-content: space-evenly;
     align-items: center;
     margin:0%;
     padding:0%;
     background-color: rgb(238, 241, 10);
     border-radius: 4px;
     position: fixed;
     top: 0;
     width: 100%;
 }
 .nav-bar :hover{
      background-color: rgb(148, 170, 25);
 }
 body#home #home-link, body#history #history-link, body#gallery #gallery-link,body#team #team-link,body#table #table-link{
      color: red
 }
 :root{
      --blue: #2391ff;
      --purple: #e300f8;
      --yellow: #ffe70a;   
 }
 a:hover{
      color: var(--blue);
 }
 a:link {
     color:var (--yellow);
   }
   a:visited {
     color: var(--purple);
   }
   a:hover {
     color: hotpink;
   }
   a:active {
     color: blue;
   }
 }
table, th, td {
     border: 1px dotted black;
     border-radius: 10px;
   }
   img:hover{
        transform: scale(1.5);
   }
.row {
     display: -ms-flexbox; /* IE10 */
     display: flex;
     -ms-flex-wrap: wrap; /* IE10 */
     flex-wrap: wrap;
     padding: 0 4px;
   }
   .column {
     -ms-flex: 25%; /* IE10 */
     flex: 25%;
     max-width: 25%;
     padding: 0 4px;
   }
   
   .column img {
     margin-top: 8px;
     vertical-align: middle;
     width: 100%;
   }
   @media screen and (max-width: 800px) {
     .column {
       -ms-flex: 50%;
       flex: 50%;
       max-width: 50%;
     }
   }
   @media screen and (max-width: 600px) {
     .column {
       -ms-flex: 100%;
       flex: 100%;
       max-width: 100%;
     }
   }
   #logo{
        position:absolute;
        top: 20px;
        right: 20px;
        border:5px solid rgb(0, 0, 0);
        border-radius: 50px;
        width: 230px;
        box-shadow: 10px 10px ;
   }
   .frame-window{
     position:absolute;
     top: 300px;
     right: 20px;
     border:5px solid rgb(0, 0, 0);
     width: 230px;
   }
   .frame-title{
        position: absolute;
        bottom: 330px;
        right: 20px;
        border:5px solid rgb(0, 0, 0)
   }